boto3>=1.35.60,<2
flask>=3.1.0,<4
groq>=0.11.0,<1
langchain>=0.3.7,<1
langchain-community>=0.3.7,<1
langchain-pinecone>=0.2.0,<1
langchain-postgres>=0.0.12,<1
moviepy>=1.0.3,<2
openai>=1.55.2,<2
openparse>=0.7.0,<1
pillow>=10.4.0,<11
psycopg>=3.2.3,<4
psycopg-binary>=3.2.3,<4
psycopg-pool>=3.2.3,<4
python-dotenv>=1.0.1,<2
python-magic>=0.4.27,<1
streamlit>=1.40.1,<2